<div class="container c-inicio mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h2>¡Bienvenido Carlos!</h2>
            <p class="c-title-inicio">Aquí puedes registrar a tu nombre los productos Claro que hayas <br> adquirido o gestionar los datos de tu perfil digital.</p>
        </div>                           
    </div>
    <div class="row mt-5">
        <div class="col-4">
            <div class="container-card p-5 position-relative">
                <div class="c-image">
                    <img src="@/assets/AlertaInfoAlerta_Icono.svg" class="img-fluid" alt="">
                </div>
                <div class="c-text mt-5">
                    <p>Chip de datos</p>
                    <span>Regularización de <br> producto chip de datos.</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container-card p-5 position-relative">
                <div class="c-image">
                    <img src="@/assets/AlertaInterAlerta_Icono.svg" class="img-fluid" alt="">
                </div>
                <div class="c-text mt-5">
                    <p>Internet en casa</p>
                    <span>Activación de producto <br> de internet inalámbrico</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="container-card p-5 position-relative">
                <div class="c-image">
                    <img src="@/assets/AlertaClaroIDAlerta_Icono.svg" class="img-fluid" alt="">
                </div>
                <div class="c-text mt-5">
                    <p>Cambios en Claro ID</p>
                    <span>Activación de producto <br> de internet inalámbrico</span>
                </div>
            </div>
        </div>
    </div>
</div>