<div class="container-fluid px-5 c-inicio">
    <div class="w-100 py-3 border-bottom-gray">
        <h3>Mis notificaciones</h3>
        <p>Mantente al día con las actualizaciones de tu cuenta Claro ID.</p>
    </div>
    <div class="list-notificaciones p-2">
        <div class="c-notification">
            <div class="d-flex flex-row align-items-center p-3">
                <div class="c-people-notification general">
                    <div class="d-flex justify-content-center align-items-center position-relative people-notification">
                        <div class="d-flex justify-content-center align-items-center position-absolute c-last-notification">
                            <div class="c-last-notification-sub">

                            </div>
                        </div>
                        CR
                    </div>
                </div>
                <div class="c-desc-notification general"><span class="desc-notification">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
                <div class="d-flex justify-content-end align-items-center  c-time-notification general text-center"><span class="time-notification">2 min</span><span class="mx-3 separate-notification"></span><span><img src="@/assets/delete.svg" class="img-fluid" alt=""></span></div>
            </div>
        </div>
        <div class="c-notification">
            <div class="d-flex flex-row align-items-center p-3">
                <div class="c-people-notification general">
                    <div class="d-flex  justify-content-center align-items-center people-notification">
                        LR
                    </div>
                </div>
                <div class="c-desc-notification general"><span class="desc-notification">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
                <div class="d-flex justify-content-end align-items-center  c-time-notification general text-center"><span class="time-notification">4 hrs</span><span class="mx-3 separate-notification"></span><span><img src="@/assets/delete.svg" class="img-fluid" alt=""></span></div>
            </div>
        </div>
        <div class="c-notification">
            <div class="d-flex flex-row align-items-center p-3">
                <div class="c-people-notification general">
                    <div class="d-flex  justify-content-center align-items-center people-notification">
                        AB
                    </div>
                </div>
                <div class="c-desc-notification general"><span class="desc-notification">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></div>
                <div class="d-flex justify-content-end align-items-center  c-time-notification general text-center"><span class="time-notification">Vie 10/03</span><span class="mx-3 separate-notification"></span><span><img src="@/assets/delete.svg" class="img-fluid" alt=""></span></div>
            </div>
        </div>
    </div>
</div>